{erl_opts, [debug_info]}.
{deps, []}.

{profiles,
 [{test,
   [{plugins, [coveralls]}
   ]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{cover_excl_mods,
 [ersip_app,
  ersip_sup
 ]}.

{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}. % or a list of files
{coveralls_service_name , "travis-ci"}.

{eunit_compile_opts, [export_all]}.

{dialyzer,
 [{warnings,
   [underspecs,
    unmatched_returns,
    unknown
   ]}
 ]}.
